@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Spectral:ital,wght@0,200;1,800&display=swap');

/* Base styles */
*{
  margin:0;
  font-family: "Roboto Mono";
  color: black;
}